span{
    font-size: large;
    line-height: 190%
}
.semi-transparent-button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 99%;
    background: rgba(99, 99, 102, 0.9);
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-out;
    border: none;
    position: relative
}
.right{
    float:right;
    color: #ffff
}

.left{
    float:left;
    color:#ffffff;
    font-weight: 500;
}
.icon {
    float:left;
}
.iconb {
    float:right;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
}